<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.eventsim.module">
      <simulation_module
            guice_module="edu.kit.ipd.sdq.eventsim.workload.EventSimWorkloadModule"
            id="edu.kit.ipd.sdq.eventsim.workload.module"
            name="Workload Simulator"
            priority="0">
         <simulation_strategy
               action="org.palladiosimulator.pcm.usagemodel.Branch"
               name="Branch"
               strategy="edu.kit.ipd.sdq.eventsim.workload.interpreter.strategies.BranchTraversalStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.usagemodel.Delay"
               name="Delay"
               strategy="edu.kit.ipd.sdq.eventsim.workload.interpreter.strategies.DelayTraversalStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.usagemodel.EntryLevelSystemCall"
               name="EntryLevelSystemCall"
               strategy="edu.kit.ipd.sdq.eventsim.workload.interpreter.strategies.EntryLevelSystemCallTraversalStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.usagemodel.Loop"
               name="Loop"
               strategy="edu.kit.ipd.sdq.eventsim.workload.interpreter.strategies.LoopTraversalStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.usagemodel.Start"
               name="Start"
               strategy="edu.kit.ipd.sdq.eventsim.workload.interpreter.strategies.StartTraversalStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.usagemodel.Stop"
               name="Stop"
               strategy="edu.kit.ipd.sdq.eventsim.workload.interpreter.strategies.StopTraversalStrategy">
         </simulation_strategy>
      </simulation_module>
   </extension>
   <extension
         point="edu.kit.ipd.sdq.eventsim.rvisualization.metriclabels">
      <metric
            label="Inter Arrival Time"
            name="INTER_ARRIVAL_TIME">
      </metric>
      <metric
            label="Inter Departure Time"
            name="INTER_DEPARTURE_TIME">
      </metric>
   </extension>

</plugin>
