<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.eventsim.module">
      <simulation_module
            guice_module="edu.kit.ipd.sdq.eventsim.resources.EventSimResourceModule"
            id="edu.kit.ipd.sdq.eventsim.resources.module"
            name="Resource Simulator"
            priority="0">
      </simulation_module>
   </extension>
   <extension
         point="edu.kit.ipd.sdq.eventsim.measurement.r.rjobs">
      <rjob
            job="edu.kit.ipd.sdq.eventsim.resources.CalculateResourceUtilization"
            name="Calculate Resource Utilization">
      </rjob>
   </extension>
   <extension
         point="edu.kit.ipd.sdq.eventsim.rvisualization.metriclabels">
      <metric
            label="Utilization of Resources in Percent"
            name="UTILIZATION">
      </metric>
   </extension>

</plugin>
