<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.eventsim.module">
      <simulation_module
            guice_module="edu.kit.ipd.sdq.eventsim.resources.EventSimResourceModule"
            id="edu.kit.ipd.sdq.eventsim.resources.module"
            launchContribution="edu.kit.ipd.sdq.eventsim.resources.launch.ResourcesModuleLaunchControl"
            launch_contribution="edu.kit.ipd.sdq.eventsim.resources.launch.ResourcesModuleLaunchContribution"
            name="Resource Simulator"
            priority="0">
      </simulation_module>
   </extension>
   <extension
         point="edu.kit.ipd.sdq.eventsim.measurement.r.rjobs">
      <rjob
            job="edu.kit.ipd.sdq.eventsim.resources.rjobs.CalculateResourceUtilizationEquidistant"
            name="Calculate Equidistant Resource Utilization">
      </rjob>
      <rjob
            job="edu.kit.ipd.sdq.eventsim.resources.rjobs.CalculateMeanQueueLength"
            name="Calculate Equidistant Queue Length Means">
      </rjob>
      <rjob
            job="edu.kit.ipd.sdq.eventsim.resources.rjobs.DeleteRawQueueLengthMeasurements"
            name="Delete Queue Length Measurements">
      </rjob>
   </extension>
   <extension
         point="edu.kit.ipd.sdq.eventsim.rvisualization.metriclabels">
      <metric
            label="Resource Utilization"
            name="UTILIZATION">
      </metric>
      <metric
            label="Mean Resource Queue Length"
            name="MEAN_QUEUE_LENGTH">
      </metric>
   </extension>

</plugin>
