<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.eventsim.module">
      <simulation_module
            guice_module="edu.kit.ipd.sdq.eventsim.extensionexample.ExampleExtensionSimulationModule"
            id="edu.kit.ipd.sdq.eventsim.system.ext"
            launch_contribution="edu.kit.ipd.sdq.eventsim.extensionexample.launch.ExampleModuleLaunchContribution"
            name="Example Simulation Module"
            priority="10">
         <simulation_strategy
               action="org.palladiosimulator.pcm.seff.StartAction"
               name="StartAction Decorator"
               strategy="edu.kit.ipd.sdq.eventsim.extensionexample.strategies.ExtendedStartActionTraversalStrategy">
         </simulation_strategy>
      </simulation_module>
   </extension>

</plugin>
