<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.eventsim.module">
      <simulation_module
            guice_module="edu.kit.ipd.sdq.eventsim.system.EventSimSystemModule"
            id="edu.kit.ipd.sdq.eventsim.system.module"
            name="System Simulator"
            priority="0">
         <simulation_strategy
               action="org.palladiosimulator.pcm.seff.AcquireAction"
               name="AcquireAction"
               strategy="edu.kit.ipd.sdq.eventsim.system.interpreter.strategies.AcquireActionSimulationStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.seff.BranchAction"
               name="BranchAction"
               strategy="edu.kit.ipd.sdq.eventsim.system.interpreter.strategies.BranchActionSimulationStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.seff.ExternalCallAction"
               name="ExternalCallAction"
               strategy="edu.kit.ipd.sdq.eventsim.system.interpreter.strategies.ExternalCallSimulationStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.seff.ForkAction"
               name="ForkAction"
               strategy="edu.kit.ipd.sdq.eventsim.system.interpreter.strategies.ForkActionSimulationStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.seff.InternalAction"
               name="InternalAction"
               strategy="edu.kit.ipd.sdq.eventsim.system.interpreter.strategies.InternalActionSimulationStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.seff.LoopAction"
               name="LoopAction"
               strategy="edu.kit.ipd.sdq.eventsim.system.interpreter.strategies.LoopActionSimulationStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.seff.ReleaseAction"
               name="ReleaseAction"
               strategy="edu.kit.ipd.sdq.eventsim.system.interpreter.strategies.ReleaseActionSimulationStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.seff.SetVariableAction"
               name="SetVariableAction"
               strategy="edu.kit.ipd.sdq.eventsim.system.interpreter.strategies.SetVariableActionSimulationStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.seff.StartAction"
               name="StartAction"
               strategy="edu.kit.ipd.sdq.eventsim.system.interpreter.strategies.StartActionSimulationStrategy">
         </simulation_strategy>
         <simulation_strategy
               action="org.palladiosimulator.pcm.seff.StopAction"
               name="StopAction"
               strategy="edu.kit.ipd.sdq.eventsim.system.interpreter.strategies.StopActionSimulationStrategy">
         </simulation_strategy>
      </simulation_module>
   </extension>
   <extension
         point="edu.kit.ipd.sdq.eventsim.rvisualization.metriclabels">
      <metric
            label="[System] Response Time"
            name="RESPONSE_TIME_OF_EXTERNAL_CALLS">
      </metric>
      <metric
            label="[System] Execution Time"
            name="TIME_SPAN_BETWEEN_ACTIONS_SYSTEM">
      </metric>
   </extension>


</plugin>
