<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.codegen.simucontroller.simulator">
      <simulator
            id="de.uka.ipd.sdq.codegen.simucontroller.eventsim"
            launchDelegate="edu.kit.ipd.sdq.eventsim.launch.runconfig.EventSimWorkflowLauncher"
            name="EventSim (Event-Driven Simulation)">
      </simulator>
   </extension>
   <extension
         name="name"
         point="de.uka.ipd.sdq.workflow.tab.extension">
      <workflow_extension
            name="edu.kit.ipd.sdq.eventsim.launch.workflow_extension2"
            runconfig_tab="edu.kit.ipd.sdq.eventsim.launch.runconfig.EventSimTab"
            workflow_id="workflow.extension.simucom.after.load.validate">
      </workflow_extension>
   </extension>

</plugin>
