<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="edu.kit.ipd.sdq.eventsim.measurement.r.rjobs" name="RJobs" schema="schema/edu.kit.ipd.sdq.eventsim.measurement.r.rjobs.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            allowMultiple="false"
            class="edu.kit.ipd.sdq.eventsim.measurement.r.connection.ui.ConnectionView"
            icon="icons/connect.png"
            id="edu.kit.ipd.sdq.eventsim.measurement.r.connection"
            name="Rserve Connection"
            restorable="true">
      </e4view>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="edu.kit.ipd.sdq.eventsim.measurement.r.connection.ui.ConnectionStatusProvider">
         <variable
               name="edu.kit.ipd.sdq.eventsim.measurement.r.connection.status"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.palladiosimulator.pcmbench.perspectives.palladio">
         <view
               id="edu.kit.ipd.sdq.eventsim.measurement.r.connection"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
